body{
    background: rgb(153, 112, 22);
}
h1,
h2,
h3,
h4,
h5{
    color: wheat;
    text-align: center;
}
.apple-pie{
    width: 600px;
    height: auto;
    position: relative;
    left: 300px;
}
#home{
    background: rgb(189, 116, 153);
}